div{
    width:100%;
}
.container{
    width:100%;
    /* padding:2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.header{
    /* background:green; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:40%;
}

.list{
    width:90%;
    padding:1rem;
}